<?php 

 return array (
  'PetController' => 
  array (
    'addPet' => true,
    'updatePet' => true,
    'findPetsByStatus' => true,
    'findPetsByTags' => true,
    'getPetById' => true,
    'updatePetWithForm' => true,
    'deletePet' => true,
    'uploadFile' => true,
  ),
  'StoreController' => 
  array (
    'getInventory' => true,
    'placeOrder' => true,
    'getOrderById' => true,
    'deleteOrder' => true,
  ),
  'UserController' => 
  array (
    'createUser' => true,
    'createUsersWithArrayInput' => true,
    'createUsersWithListInput' => true,
    'loginUser' => true,
    'logoutUser' => true,
    'getUserByName' => true,
    'updateUser' => true,
    'deleteUser' => true,
  ),
);